@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

:root {
  --accent: #ffc807;
  --light-mode: white;
  --dark-mode: #0a0a0a;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main nav {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 5;
  padding: 24px 0px 24px;
}

main nav img {
  height: 84px;
  width: 118px;
}

main nav .buttons {
  display: flex;
  align-items: center;
}

main nav .buttons button {
  padding: 12px 32px 12px;
  margin: 4px;
  border-radius: 32px;
  font-family: Poppins;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background: var(--accent);
}

main nav .buttons button:hover {
  margin-bottom: 16px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  outline: 1px solid black;
}

main nav .buttons #github-btn {
  padding: 4px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #f6f6f6;
}

main nav .buttons #github-btn:hover {
  outline: 1px solid var(--accent);
}

main nav .buttons #github-btn span {
  font-size: 16px;
  background: white;
  color: #6c6c6c;
  padding: 10px;
  border-radius: 50%;
}

main section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section .wrapper {
  padding: 24px;
}

main section .wrapper .greeting {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

main section .wrapper .greeting h1 {
  margin: 0;
  font-size: 36px;
}

main section .wrapper .greeting p {
  margin: 0;
  margin-bottom: 60px;
}

main section .wrapper #joke {
  background: #f6f6f6;
  padding: 16px;
  border-radius: 8px;
  width: fit-content;
}

main section .wrapper #joke .content {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

main section .wrapper #joke .content #first {
  font-size: 36px;
  width: fit-content;
  transform: rotate(180deg);
}

main section .wrapper #joke .content p {
  margin: 6px 18px 6px;
  width: fit-content;
  /* margin-left: 18px;
  margin-right: 18px; */
}

main section .wrapper #joke .content #last {
  font-size: 36px;
  width: fit-content;
  align-self: end;
}

main section .wrapper #joke button {
  background: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin-top: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

main section .wrapper #joke #favorite {
  color: red;
}

main section .wrapper #joke #share {
  color: #3281a8;
}

main section .wrapper #joke button:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}

main section .wrapper #joke button:active {
  opacity: 0.75;
}

main section .wrapper #generate-btn {
  width: 100%;
  margin-top: 16px;
  padding: 12px 32px 12px;
  border-radius: 8px;
  font-family: Poppins;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  background: var(--accent);
}

main section .wrapper #generate-btn:hover {
  margin-bottom: 16px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  outline: 1px solid black;
}

main section #alert {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: 48px;
  padding: 12px;
  border-radius: 4px;
  background: #8fcc9f;
  color: green;
  border: 1px solid green;
  display: none;
  align-items: center;
}

main section #alert span {
  margin-right: 8px;
}
